:root {
    --BGCOLOR: rgb(166, 166, 166);
    --COLOR: black;
}

body {
    text-align: center;
    font-size: large;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    background-color: gold;
}

h1 {
    color: green;
    font-weight: bold;
    font-size: xx-large;
}

header {
    background-color: var(--BGCOLOR);
    top: 0;
    position: sticky;
}

footer {
    background-color: var(--BGCOLOR);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

footer img {
    border-radius: 5px;
}

footer img:hover {
    transform: scale(1.1);    
}

section {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

button {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: none;
    border-radius: 7px;
    background-color: var(--BGCOLOR);
}

button div, button div::before, button div::after {
    background-color: var(--COLOR);
    width: 40px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
}

button div::before, button div::after {
    content: "";
}

button div::before {
    transform: translate(-20px, -12px);
}

button div::after {
    transform: translate(-20px, 12px);
}

:is(header:hover, header:focus-within) nav {
    display: block;
}

:is(header:hover, header:focus-within) button div {
    background-color: transparent;
}

:is(header:hover, header:focus-within) button div::before {
    transform: translateX(-12px) rotate(45deg);
}

:is(header:hover, header:focus-within) button div::after {
    transform: translateX(-12px) rotate(-45deg);
}

nav {
    display: none;
    animation-name: showMenu;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes showMenu {
    0% {
        transform: scaleY(0);
    }
    50% {
        transform: scaleY(1.2);
    }
    100% {
        transform: scaleY(1);
    }
}

nav ul {
    flex-grow: 1;
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
}

li {
    border-top: 2px solid var(--COLOR);
    padding: 5px;
}

li a {
    color: var(--COLOR);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    display: block;
}


li a:hover, li a:focus {
    transform: scale(1.2);
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 30px;
    margin-top: 50px;
    justify-content: space-evenly;
    column-gap: 10px;
}

main img {
    border-radius: 5px;
    margin-bottom: 30px;
}

main img:hover {
    transform: scale(1.1);
}